.img-styles:not(:last-child) {
  display: block;
}

.list-style {
  list-style: color;
  padding-left: 0;
  margin: 0;
}

.gallery {
  display: block;
  margin-bottom: 30px;
}

.gallery:not(:last-child) {
  margin-bottom: 30px;
}
